.projects{
    color: white;
    font-size: x-large;

    border-bottom: 3px solid rgb(0, 204, 255) ;
    width: 10%;
}
.pro{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3% auto;
}
.m{
    height: 100vh;
}