@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Kdam+Thmor+Pro&family=Koulen&family=Lato:wght@700&family=Lobster&family=Macondo&family=Oswald:wght@200;300&family=Righteous&family=Roboto+Serif:ital,opsz,wght@0,8..144,500;1,8..144,400&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400&family=Ubuntu:wght@300&display=swap');
.skills
{
    margin-top: 7%;
    width: 7ch;
    border-bottom: 3px solid rgb(0, 204, 255) ;
    color: white;
    font-size: x-large;
}
.icon{
    position: relative;
    color: white;
    font-size: 500%;
    
}
.icon:hover{
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.webd{
    display: flex;
    justify-content: space-between;
    width: 70ch;
    margin: 0 auto;
    margin-top: 1%;
}
.database{
    display: flex;
    justify-content: space-between;
    width: 25ch;
    margin: 0 auto;
    margin-top: 1%;
}
.heading{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin-top: 2%;
    color: white;
}
.blockchain{
    
    display: flex;
    width: 15ch;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 5%;


    


}

.name{
    color: white;
    font-family: 'Roboto', sans-serif;

}
@keyframes move {
    from {font-size: 500%;}
    to {font-size: 700%;}
  }
  .icons{
    display: 100vh;
  }